.empresa {
    height: 280px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
}

.empresa h1 {
    color: #49038A;
    font-size: 32px;
    align-self: center;
}

.form_control input{
    width: 330px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #000101;
    padding-left: 10px;
}

.form_control input::placeholder {
    color: #49038A;
}
