.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

.title {
  color: #3b0068;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  background-color: #f5f5f5;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  width: 100%;
  max-width: 96%; /* Mantendo o preenchimento de tela */
  padding: 3rem 4rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
  box-sizing: border-box;
}

.sectionHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #2e004e;
  font-weight: 800;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.divider {
  border: 0;
  border-top: 1px solid #ccc;
  margin-bottom: 2.5rem;
  margin-top: 0.5rem;
}

.row {
  display: flex;
  gap: 4rem;
  margin-bottom: 1.5rem;
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 1.1rem;
  color: #333;
  margin-bottom: 0.4rem;
  font-weight: 600;
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  padding: 0.8rem 1rem;
  padding-right: 2.5rem;
  border: 1px solid #7c4dff;
  background-color: #ededed;
  border-radius: 6px;
  font-size: 1rem;
  color: #555;
  outline: none;
  height: 48px;
}

.input::placeholder {
  color: #a0a0a0;
}

.icon {
  position: absolute;
  right: 15px;
  color: #5e35b1;
  pointer-events: none;
}

.iconClickable {
  pointer-events: auto;
  cursor: pointer;
}

/* Select UF */
.select {
  width: 100%;
  appearance: none;
  padding: 0.8rem 1rem;
  border: 1px solid #7c4dff;
  background-color: #ededed;
  border-radius: 6px;
  color: #555;
  font-size: 1rem;
  height: 48px;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 4rem;
  padding-top: 1.5rem;
  border-top: 1px solid #e0e0e0;
}

.termsContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.btnOutline {
  background: transparent;
  border: 1px solid #7c4dff;
  color: #3b0068;
  padding: 0.6rem 2.5rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
}

.termsText {
  font-size: 0.85rem;
  color: #999;
}

.btnSave {
  background-color: #3b0068;
  color: #fff;
  border: none;
  padding: 0.9rem 5rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1.2rem;
}

.btnSave:hover {
  background-color: #2a004a;
}

@media (max-width: 800px) {
  .row {
    flex-direction: column;
    gap: 1.2rem;
  }
  .card {
    padding: 1.5rem;
    max-width: 100%;
  }
  .container {
    padding: 1rem;
  }
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
  }
  .btnSave {
    width: 100%;
  }
}