@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.video_fundo {
  position: relative;
  height: 870px;
  width: 100%;
  top:10px;
  overflow: hidden;
  display: flex;
  background: rgba(56,26,114,0.40);
}

.video_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  z-index: -1;
  background-attachment: fixed;
}

.texto_video {
  position: relative;
  color: white;
  top: 35%;
  left: 5%;
}

.texto_video h1 {
  font-size: 90px;
  margin-bottom: 20px; 
  font-family: "Montserrat Alternates", sans-serif;
}

.texto_video p {
  font-size: 25px;
  max-width: 750px; 
  line-height: 1.5; 
  font-weight: bold;
  font-family: "Montserrat Alternates", sans-serif;
}
@media (max-width: 1990px){
  .texto_video h1{
    font-size: 5rem;
  }
  
  .video_fundo {
  position: relative;
  height: 570px;
  width: 100%;
  top:10px;
  overflow: hidden;
  display: flex;
  background: rgba(56,26,114,0.40);
}
}
/* Responsividade */
@media (max-width: 1024px) {
  .video_fundo {
    height: 700px;
  }
  
  .texto_video h1 {
    font-size: 70px;
  }
  
  .texto_video p {
    font-size: 22px;
    max-width: 650px;
  }
}

@media (max-width: 768px) {
  .video_fundo {
    height: 600px;
  }
  
  .texto_video {
    top: 30%;
    left: 5%;
    right: 5%;
  }
  
  .texto_video h1 {
    font-size: 50px;
  }
  
  .texto_video p {
    font-size: 18px;
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .video_fundo {
    height: 500px;
  }
  
  .texto_video {
    top: 25%;
    left: 5%;
    right: 5%;
  }
  
  .texto_video h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  
  .texto_video p {
    font-size: 16px;
    max-width: 100%;
  }
}

@media (max-width: 320px) {
  .video_fundo {
    height: 450px;
    top: 5px;
  }
  
  .texto_video {
    top: 20%;
    left: 4%;
    right: 4%;
  }
  
  .texto_video h1 {
    font-size: 28px;
    margin-bottom: 12px;
    line-height: 1.2;
  }
  
  .texto_video p {
    font-size: 14px;
    max-width: 100%;
    line-height: 1.4;
  }
}