.banner-container {
  width: 100%;
  height: 180px; /* define a altura do banner */
  border-radius: 10px;
  overflow: hidden;
  background-color: #e5e7eb; /* cinzinha */
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ou 'contain' */
}
