.container_cadastro {
    background-color: #421167;
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 165px;
    color: white;
}

.form_container {
    width: 50%;
    height: 483px;
    background-color: #FFFAFA;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botao {
    width: 160px;
    height: 30px;
    background-color: #421167;
    color: #FFFAFA;
    border: 1px solid #FFFAFA;
    border-radius: 5px;
}