.container_cadastro {
    background-color: #421167;
    width: 100%;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 165px;
}

.content {
    background-color: #FFFAFA;
    width: 50%;
    height: 483px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.content h1 {
    color: #402377;
    font-size: 48px;
    font-weight: bold;
}

.content a {
    text-decoration: none;
}

#botoes {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.botao {
    background-color: #402377;
    width: 200px;
    height: 200px;
    color:  #FFFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    transition: transform 0.3s ease-in-out, cdbox-shadow 0.3s ease-in-out;
}

.botao:hover {
    transform: scale(1.1);
}

#meio {
    margin-top: -50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

#logo {
    width: 130px;
    align-self: flex-end;
    margin-right: 30px;
}

@media (max-width: 1325px) { 
    .container_cadastro {
        margin-bottom: 91px;
    }
    .content {
        height: 700px;
        width: 70%;
    }
    
    #botoes {
        flex-direction: column;
        gap: 40px;
    }
    .botao {
        border: 1px solid #402377;
        background-color: #FFFAFA;
        color: #402377;
        height: 70px;
        width: 400px;
        font-size: 28px;
    }
    .botao:hover {
        border: none;
        background-color: #402377;
        color: #FFFAFA;
    }
    .botao img{
        display: none;
    }
    #meio {
        margin-top: 0px;
    }
    #logo {
        width: 200px;
        align-self: center;
    }

}

@media (max-width: 796px) { 
    .container_cadastro {
        margin-bottom: 47px;
    }
    .content {
        height: 600px;
        width: 90%;
    }

    .content h1 {
        font-size: 35px;
    }
    .botao {
        border: 1px solid #402377;
        background-color: #FFFAFA;
        color: #402377;
        width: 240px;
    }
    #logo {
        width: 200px;
    }
}

@media (max-width: 425px) {
    .container_cadastro {
        margin-bottom: 37px;
    }
    .content h1 {
        font-size: 30px;
    }

}