main{
    width: 100%;
    color: #1D0B3F;
}

:root{
    --cor-fundo:#ebebeb;
}

.conteudo_principal{
    width: 90%;
    height: 1400px;
    margin: 60px auto;
    border: 1px solid black;
    border-radius: 12px;
    margin-bottom: 300px;
}

.banner_empresa{
    width: 100%;
    height: 300px;
    border-radius: 12px 12px 0px 0px;
    background-image: url("../../assets/images/fundo-banner-inicial.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.foto_empresa{
    position: absolute;
    top: 410px; left: 120px;
}

.botao_lapis{
    position: absolute;
    top: 540px; left: 250px;
    clip-path: circle(50% at 50% 50%);
    border: none;
    padding: 12px;
    background-color: var(--cor-fundo);
    cursor: pointer;
}
.botao_lapis:hover{
    background-color: #c5c5c5;
}

hr{
    font-weight: 800;
    height: 2px; background-color: #000; border: none;
}

h3{
    color: #421167;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p{
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
}

.organizacao{
    width: 90%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: auto;
    margin-top: 40px;
    padding: 20px;
    border-radius: 15px;
    align-items: end;
}

.bloco{
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: row;
    padding: 40px; 
    margin-top: 100px;
    background-color: var(--cor-fundo);
    border-radius: 15px;
}

.conteudo_esquerda{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.conteudo_direita{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.conteudo_unico{
    width: 100%;
    height: 100%;
}

.contato{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contato div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

.botao_editar{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    padding: 6px;
    font-size: 1.5rem;
    font-weight: 550;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    text-decoration: none;
}

.botao_editar:hover{
    background-color: #c5c5c5;
}