.fundo {
    background-color: #421167;
    width: 100%;
    height: 850px;
    margin-bottom: 1px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container_plano {
    width: 55%;
    height: 545px;
    border-radius: 16px;
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    align-items: center
    
}

.container_plano h1 {
    font-size: 32px;
    color: #371970;
}
.p_beneficios {
    font-size: 15px;
}

.planos {
    width: 76%;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid black;
    margin-top: 16px;
}

.plano {
    border: 1px solid black;
    width: 33.33%;
}

.titleP{
  color: #1D0B3F;
  font-size: 30px;
  margin-left: 10px;
}
.valor{
  font-size: 22px;
  color: #A13BB1;
  font-weight: 800;
  margin-left: 10px;
}

.selecionar{
  width: 190px;
  height: 35px;
  font-size: 15px;
  border-radius: 7px;
  background-color: #381A72;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.7s ease-in-out;
}
.selecionar:hover{
  transform: scale(1.1);
}

.botao{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}
#MaosDeOuro {
  background-color: #381A72;
}
#MaosDeOuro .selecionar{
  background-color: #A5F391;
  color: #381A72;
}

#MaosDeOuro .valor {
  color: #A5F391;
}

#MaosDeOuro .titleP {
  color: white;
}

#MaosDeOuro .p_beneficios {
  color: white;
}

.beneficios{
  position: relative;
  display: flex;
  flex-direction: column; 
  margin-left: 10px;
  margin-top: 10px;
}

#beneficios_prata {
  gap: 30px;
  margin-bottom: 50px;
}

#beneficios_ouro {
  gap: 27px;
  margin-bottom: 32px;
}

#beneficios_diamante {
  gap: 10px;
  margin-bottom:7px;
}
.check_verde_p,
.check_roxo_p {
  width: 17px;
}


@media (max-width: 1440px) {
  .container_plano {
    width: 65%;
    height: 580px;
}

  .planos {
    width: 80%;
    height: 440px;
}

#beneficios_prata {
  margin-bottom: 50px;
}

#beneficios_ouro {
  margin-bottom: 56px;
}

#beneficios_diamante {
  margin-bottom:7px;
}
}

@media (max-width: 1024px) { 
  .container_plano {
    width: 90%;
    height: 580px;
}
#beneficios_ouro {
  margin-bottom: 31px;
}

}

@media (max-width: 768px) { 
.planos {
    width: 90%;
    height: 440px;
}
#beneficios_prata {
  margin-bottom: 74px;
}
}

@media (max-width: 425px) {
  .fundo {
    height: fit-content;
    margin-bottom: 0px;
  }

  .container_plano {
    height: fit-content;
    margin-top: 20px;
  }
  .planos {
    width: 80%;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin-bottom: 20px;
  }
  .plano {
      border: 1px solid black;
      width: 100%;
      height: 460px;
      margin-bottom: 20px;
      border-radius: 10px;
  }
  #beneficios_prata {
    gap: 25px;
    margin-bottom: 80px;
  }

  .beneficios p{
    font-size: 18px;
  }

  #beneficios_ouro {
    margin-bottom: 46px;
  }

  #beneficios_diamante {
    margin-bottom:15px;
  }
  .titleP {
    text-align: center;
  }
  .selecionar {
  width: 90%;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
}
} 
@media (max-width: 375px) { 
  .planos {
    width: 85%;
    height: fit-content;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: none;
    margin-bottom: 20px;
  }
  .plano {
      border: 1px solid black;
      width: 100%;
      height: 445px;
      margin-bottom: 20px;
      border-radius: 10px;
  }
  #beneficios_prata {
    gap: 25px;
    margin-bottom: 37px;
  }
  #beneficios_ouro {
    gap: 25px;
    margin-bottom: 40px;
  }

  #beneficios_diamante {
    gap: 5px;
    margin-bottom:20px;
  }
  .beneficios p{
    font-size: 17px;
  }
}

@media (max-width: 320px) { 
  .plano {
      border: 1px solid black;
      width: 100%;
      height: 425px;
      margin-bottom: 20px;
      border-radius: 10px;
  }
  #beneficios_prata {
    gap: 25px;
    margin-bottom: 30px;
  }
  #beneficios_ouro {
    gap: 15px;
    margin-bottom: 23px;
  }

  #beneficios_diamante {
    gap: 1px;
    margin-bottom: 1px;
    margin-top: -5px;
  }
  .beneficios p{
    font-size: 16px;
  }
}
