footer{
    background-image: url(../../assets/images/footer.png);
    height: 620px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -10%;
}
.logo_footer img{
    position: relative;
    margin-top: 23%;
    left: 5%;
    width: 400px;
}
.links_footer{
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 200px;
    font-size: 1.5rem;
    left: 10%;
    top: 10%;
}
.Mapa{
    display: flex;
    flex-direction: column;
    margin-top: -1%;
}
.Ferramentas{
    display: flex;
    flex-direction: column;
    margin-top: -2%;
}
footer a {
    text-decoration: none;
    color: #381A72;
}
.contator_footer{
    font-size: 1.5rem;
    margin-left: 75%;
    margin-top: -3%;
}
.contator_footer h3{
    display: flex;
}
.links{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
    margin-top: 5%;
}
.meio{
    margin: 0 auto;
    text-align: center;
    position: relative;
    height: auto;
    right: 150%;
    margin-top: 10%;
    white-space: nowrap;
}

@media (max-width: 992px) {
  footer {
    height: auto;
    padding-bottom: 80px;
    background-image: url(../../assets/images/Footer_mobile.png);
    background-size: 100vh;
  }

  .logo_footer img {
    margin-top: 10%;
    width: 250px;
    left: 0;
  }

  .links_footer {
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    font-size: 1.2rem;
    left: 0;
    top: 5%;
  }

  .contator_footer {
    margin-left: 20px;
    text-align: center;
    margin-top: 10%;
  }

  .links {
    margin: 0 auto;
    margin-top: 5%;
  }

  .meio {
    right: 0;
    margin-top: 8%;
    white-space: normal;
  }
}
