.fundo{
    position: absolute;
    margin-bottom: 50%;
    width: 100%;
    background-color: #3B0F5A; 
    padding: 100px 0px; 
    text-align: center;
    margin-top: -86%;
    z-index: 1; 
    overflow-y: hidden;
    clip-path: polygon(
        0% 22%,
        50% 30%, 
        100% 22%, 
        100% 90%,
        50% 100%,
        0% 90%
    );
}
.Rosa{
    position: absolute;
    margin-left: -42%;
    animation: rosa 3s ease-in-out infinite;
}
@keyframes rosa {
  100% { transform: translate(-50%, -50%) translateY(0);}
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(8px);}
  
}
.Laranja{
    position: absolute;
    margin-left: -35%;
    margin-top: -45%;
    z-index: -1;
    animation: laranja 3s ease-in-out infinite;
}
@keyframes laranja {
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(-10px);}
  100% { transform: translate(-50%, -50%) translateY(0);}
}
.Verde{
    position: absolute;
    margin-left: 40%;
    margin-top: -45%;
    animation: verde 3s ease-in-out infinite;
}
@keyframes verde {
  100% { transform: translate(-50%, -50%) translateY(0);}
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(8px);}
  
}
.Azul{
    position: absolute;
    margin-left: 45%;
    margin-top: -41%;
    animation: azul 3s ease-in-out infinite;
}
@keyframes azul {
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(-10px);}
  100% { transform: translate(-50%, -50%) translateY(0);}
}
.title{
    position: relative;
    text-align: center;
    color: #EFE2FF;
    font-size: 48px;
    margin-top: 15%;
}
.Amarelo{
    color: #FFE385;
    position: relative;
}
.paragrafo{
    position: relative;
    text-align: center;
    color: #EFE2FF;
    font-size: 34px;
}.caixasbrancas{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 1%;
    flex-direction: column;
    align-items: center;
    gap: 20px;      
}
.caixa1{
    position: relative;
    width: 400px;
    height: 550px;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-right: -10%;
    margin-top: 5%;
}
.caixa2{
    position: relative;
    width: 400px;
    height: 550px;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-right: -10%;
}
.caixa3{
    position: relative;
    width: 400px;
    height: 550px;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-top: 5%;
}
.plano{
    color: #5B5151;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
}
.valor{
     color: #A13BB1;
     font-size: 36px;
     margin-left: 20px;
}
.beneficios{
    color: #1B062F;
    font-size: 20px;
    margin-left: 20px;
}
.itens{
    color: #0a0a0a;
    font-size: 1.3rem;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    font-weight: 500;
    text-align: left;
}
#botoa{
    position: relative;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    font-size: 1.7rem;
}
#login{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-top: 10%;
    z-index: 100;
}
#login:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
    background-color: #381A72;
    color: white;
}
#botoa2{
    position: relative;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    font-size: 1.7rem;
}
#login2{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-top: 10%;
    z-index: 100;
}
#login2:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
    background-color: #381A72; /* ADICIONE ISSO */
    color: white; /* ADICIONE ISSO */
}
#botoa3{
    position: relative;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    font-size: 1.7rem;
}
#login3{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-top: 10%;
    z-index: 100; /* ADICIONE ISSO */
}

.Vermais{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #FFE385;
    color: #49038A;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-top: -30%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100; 
}
#login3:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
    background-color: #381A72; /* ADICIONE ISSO */
    color: white; /* ADICIONE ISSO */
}
.Vermais{
    background-color: #FFE385;
    color: #49038A;
    position: absolute;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    margin-top: -1%;
    margin-left: 43%;
}
.Vermais p{
    font-size: 2rem;
    margin: 0;
}
.Vermais:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
    background-color: #49038A; /* ADICIONE ISSO */
    color: #FFE385; /* ADICIONE ISSO */
}
.check{
    width: 20px;
}
.checkgif{
    width: 40px;
    margin-bottom: -13px;
}

