.fundo{
    position: relative;
    margin-bottom: 10%;
    background-color: #3B0F5A; 
  color: white;
  padding: 620px 0px; 
  text-align: center;
  position: relative; 
  margin-top: -28%;
  clip-path: polygon(
    /* Forma 'W' de cima */
    0% 22%,
    50% 30%, 
    100% 22%, 

    /* Forma 'V' de baixo */
    100% 90%,
    50% 100%,
    0% 90%
  );
    
}
.Rosa{
    position: absolute;
    margin-left: -42%;
    animation: rosa 3s ease-in-out infinite;
}
@keyframes rosa {
  100% { transform: translate(-50%, -50%) translateY(0);}
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(8px);}
  
}
.Laranja{
    position: absolute;
    margin-left: -35%;
    margin-top: 45%;
    z-index: -1;
    animation: laranja 3s ease-in-out infinite;
}
@keyframes laranja {
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(-10px);}
  100% { transform: translate(-50%, -50%) translateY(0);}
}
.Verde{
    position: absolute;
    margin-left: 40%;
    margin-top: 45%;
    animation: verde 3s ease-in-out infinite;
}
@keyframes verde {
  100% { transform: translate(-50%, -50%) translateY(0);}
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(8px);}
  
}
.Azul{
    position: absolute;
    margin-left: 45%;
    margin-top: 41%;
    animation: azul 3s ease-in-out infinite;
}
@keyframes azul {
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(-10px);}
  100% { transform: translate(-50%, -50%) translateY(0);}
}
.title{
    position: relative;
    text-align: center;
    margin-top: -13%;
    color: #EFE2FF;
    font-size: 48px;
}
.Amarelo{
    color: #FFE385;
    position: relative;
}
.paragrafo{
    position: relative;
    text-align: center;
    color: #EFE2FF;
    font-size: 34px;
    margin-bottom: 3%;
}.caixasbrancas{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: -13.5%;
}
.caixa1{
    position: relative;
    width: 400px;
    height: 550px;
    margin-bottom: -46%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-right: -10%;
}
.caixa2{
    position: relative;
    width: 400px;
    height: 550px;
    margin-bottom: -43%;
    margin-top: -2%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-right: -10%;
}
.caixa3{
    position: relative;
    width: 400px;
    height: 550px;
    margin-bottom: -31%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
}
.plano{
    color: #5B5151;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5%;
}
.valor{
     color: #A13BB1;
     font-size: 36px;
     margin-left: 20px;
}
.beneficios{
    color: #1B062F;
    font-size: 20px;
    margin-left: 20px;
}
.itens{
    color: #0a0a0a;
    font-size: 1.3rem;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
    font-weight: 500;
    text-align: left;
}
#botoa{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    font-size: 1.7rem;
}
#login{
    background-color: #381A72;
    color: white;
    margin-top: -2%;
}
#login{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-top: 6%;
}
#login:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
#botoa2{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
#login2{
    background-color: #381A72;
    color: white;
    margin-top: 19%;
}
#login2{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-bottom: -5%;
}
#login2:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
#botoa3{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#login3{
    background-color: #381A72;
    color: white;
    margin-top: 12%;
}
#login3, .Vermais{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-bottom: 5%;
}
#login3:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
.Vermais{
    background-color: #FFE385;
    color: #49038A;
    margin-top: 43%;
    margin-left: -6.5%;
    position: absolute;
    text-decoration: none;
    justify-content: center;
    text-align: center;
}
.Vermais p{
    margin-top: 1%;
    font-size: 2rem;
}
.Vermais:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
.check{
    width: 20px;
}
.checkgif{
    width: 40px;
    margin-bottom: -13px;
}
@media (width: 1440px){
    .fundo{
    position: relative;
    margin-bottom: 10%;
    background-color: #3B0F5A; 
  color: white;
  padding: 520px 0px; 
  text-align: center;
  position: relative; 
  margin-top: -28%;
  clip-path: polygon(
    /* Forma 'W' de cima */
    0% 22%,
    50% 30%, 
    100% 22%, 

    /* Forma 'V' de baixo */
    100% 90%,
    50% 100%,
    0% 90%
  );
    .Rosa{
    position: absolute;
    margin-left: -40%;
    margin-top: -1%;
    width: 120px;
    animation: rosa 3s ease-in-out infinite;
}
@keyframes rosa {
  100% { transform: translate(-50%, -50%) translateY(0);}
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(8px);}
  
}
.Laranja{
    position: absolute;
    margin-left: -35%;
    margin-top: 47%;
    width: 100px;
    z-index: 1;
    animation: laranja 3s ease-in-out infinite;
}
@keyframes laranja {
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(-10px);}
  100% { transform: translate(-50%, -50%) translateY(0);}
}
.Verde{
    position: absolute;
    margin-left: 35%;
    margin-top: 45%;
    width: 120px;
    z-index: 1;
    animation: verde 3s ease-in-out infinite;
}
@keyframes verde {
  100% { transform: translate(-50%, -50%) translateY(0);}
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(8px);}
  
}
.Azul{
    position: absolute;
    margin-left: 43%;
    margin-top: 40%;
    width: 60px;
    animation: azul 3s ease-in-out infinite;
}
@keyframes azul {
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(-10px);}
  100% { transform: translate(-50%, -50%) translateY(0);}
}
}
.title{
    position: relative;
    text-align: center;
    margin-top: -13%;
    color: #EFE2FF;
    font-size: 25px;
}
.Amarelo{
    color: #FFE385;
    position: relative;
}
.paragrafo{
    position: relative;
    text-align: center;
    color: #EFE2FF;
    font-size: 20px;
    margin-bottom: 3%;
}
.caixasbrancas{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: -13.5%;
}
.caixa1{
    position: relative;
    width: 350px;
    height: 500px;
    margin-bottom: -46%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-right: -10%;
}
.caixa2{
    position: relative;
    width: 350px;
    height: 500px;
    margin-bottom: -43%;
    margin-top: -2%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-right: -10%;
}
.caixa3{
    position: relative;
    width: 350px;
    height: 500px;
    margin-bottom: -31%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
}
.plano{
    color: #5B5151;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5%;
}
.valor{
     color: #A13BB1;
     font-size: 26px;
     margin-left: 20px;
}
.beneficios{
    color: #1B062F;
    font-size: 18px;
    margin-left: 20px;
}
.itens{
    color: #0a0a0a;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
    text-align: left;
}
.itens p{
    font-size: 20px;
}
#botoa{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
}
#login{
    background-color: #381A72;
    color: white;
    margin-top: -2%;
}
#login{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-top: 6%;
}
#login:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
#botoa2{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
#login2{
    background-color: #381A72;
    color: white;
    margin-top: 19%;
}
#login2{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-bottom: -5%;
}
#login2:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
#botoa3{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#login3{
    background-color: #381A72;
    color: white;
    margin-top: 12%;
}
#login3, .Vermais{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-bottom: -5%;
    text-decoration: none;
}
#login3:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
.Vermais{
    background-color: #FFE385;
    color: #49038A;
    margin-top: 44%;
    margin-left: -8.5%;
    position: absolute;  
    text-decoration: none !important;  
}
.Vermais:visited,
.Vermais:hover,
.Vermais:active {
   text-decoration: none;
}
.Vermais:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
}
@media (max-width: 1336px) {
    .fundo {
        background-color: #381A72;
        height: 2160px;
        margin-bottom: 50px;
    }
    .caixasbrancas{
        flex-direction: column; 
        align-items: center; 
        gap: 30px; 
        margin-bottom: 0%; 
        margin-top: 30px;
    }

    .caixa1, .caixa2, .caixa3 {
        width: 90%; 
        max-width: 400px; 
        height: auto; 
        margin-bottom: 0; 
        margin-top: 30px;
        margin-right: 0;
    }

    /* Ajusta os botões */
    #login, #login2, #login3 {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #botoa2 #login2 {
        margin-top: 20px;
    }
    #botoa3 #login3 {
        margin-top: 20px; 
    }
    .Vermais{
        width: 90%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }
    #botoa, #botoa2, #botoa3 {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    #forma {
        width: 0%;
        height: 0%;
        display: none;  
    }
}

@media (max-width: 768px) {
    .fundo {
        background-color: #49038A;
        height: 1960px;
    }
    .Rosa, .Laranja, .Verde, .Azul {
        display: none;
    }

    .title {
        font-size: 32px;
        margin-top: -15%;
    }
    .paragrafo {
        font-size: 18px;
    }

    .caixasbrancas {
        flex-direction: column; 
        align-items: center; 
        gap: 30px; 
        margin-bottom: 10%; 
        margin-top: 30px;
    }

    .caixa1, .caixa2, .caixa3 {
        width: 90%; 
        max-width: 400px; 
        height: auto; 
        margin-bottom: 0; 
        margin-top: 0;
        margin-right: 0;
    }

    /* Ajusta os botões */
    #login, #login2, #login3 {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #botoa2 #login2 {
        margin-top: 20px;
    }

    #botoa3 #login3 {
        margin-top: 20px; 
    }

    .Vermais{
        width: 90%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    #botoa, #botoa2, #botoa3 {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    #forma {
        width: 0%;
        height: 0%;
        display: none;  
    }
}