.fundo{
    position: relative;
    margin-top: 18%;
    margin-bottom: 10%;
}
.Rosa{
    position: absolute;
    margin-left: 10%;
    margin-top: -47%;
    animation: rosa 3s ease-in-out infinite;
}
@keyframes rosa {
  100% { transform: translate(-50%, -50%) translateY(0);}
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(8px);}
  
}
.Laranja{
    position: absolute;
    margin-left: 15%;
    margin-top: -4%;
    z-index: -1;
    animation: laranja 3s ease-in-out infinite;
}
@keyframes laranja {
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(-10px);}
  100% { transform: translate(-50%, -50%) translateY(0);}
}
.Verde{
    position: absolute;
    margin-left: 80%;
    margin-top: -3%;
    animation: verde 3s ease-in-out infinite;
}
@keyframes verde {
  100% { transform: translate(-50%, -50%) translateY(0);}
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(8px);}
  
}
.Azul{
    position: absolute;
    margin-left: 87%;
    margin-top: -4%;
    animation: azul 3s ease-in-out infinite;
}
@keyframes azul {
  0% { transform: translate(-50%, -50%) translateY(0);}
  50% { transform: translate(-50%, -50%) translateY(-10px);}
  100% { transform: translate(-50%, -50%) translateY(0);}
}
.title{
    position: relative;
    text-align: center;
    margin-top: -8%;
    color: #EFE2FF;
    font-size: 48px;
}
.Amarelo{
    color: #FFE385;
}
.paragrafo{
    position: relative;
    text-align: center;
    color: #EFE2FF;
    font-size: 34px;
    margin-bottom: 3%;
}.caixasbrancas{
    display: flex;
    justify-content: space-around;
    margin-bottom: -13.5%;
}
.caixa1{
    position: relative;
    width: 400px;
    height: 550px;
    margin-bottom: -46%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-right: -10%;
}
.caixa2{
    position: relative;
    width: 400px;
    height: 550px;
    margin-bottom: -43%;
    margin-top: -2%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
    margin-right: -10%;
}
.caixa3{
    position: relative;
    width: 400px;
    height: 550px;
    margin-bottom: -31%;
    z-index: 2;
    background-color: #fffafa;
    border-radius: 5%;
}
.plano{
    color: #5B5151;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 5%;
}
.valor{
     color: #A13BB1;
     font-size: 36px;
     margin-left: 20px;
}
.beneficios{
    color: #1B062F;
    font-size: 20px;
    margin-left: 20px;
}
.itens{
    color: #0a0a0a;
    font-size: 1.3rem;
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    font-weight: 500;
}
#botoa{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 10px;
    font-size: 1.7rem;
}
#login{
    background-color: #381A72;
    color: white;
    margin-top: -2%;
}
#login{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-top: 6%;
}
#login:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
#botoa2{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    
}
#login2{
    background-color: #381A72;
    color: white;
    margin-top: 19%;
}
#login2{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-bottom: -5%;
}
#login2:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
#botoa3{
    position: relative;
    height: auto;
    left: 0%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
#login3{
    background-color: #381A72;
    color: white;
    margin-top: 12%;
}
#login3, #Vermais{
    position: relative;
    width: 250px;
    height: 60px;
    border: 2px solid #381A72;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    color: #381A72;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
    margin-bottom: -5%;
}
#login3:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
#Vermais{
    background-color: #FFE385;
    color: #49038A;
    margin-left: -115%;
    margin-top: 10%;
}
#Vermais:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
.check{
    width: 20px;
}
.checkgif{
    width: 40px;
    margin-bottom: -13px;
}

@media (max-width: 1336px) {
    .fundo {
        background-color: #381A72;
        height: 2160px;
        margin-bottom: 150px;
    }
    .caixasbrancas{
        flex-direction: column; 
        align-items: center; 
        gap: 30px; 
        margin-bottom: 0%; 
        margin-top: 30px;
    }

    .caixa1, .caixa2, .caixa3 {
        width: 90%; 
        max-width: 400px; 
        height: auto; 
        margin-bottom: 0; 
        margin-top: 30px;
        margin-right: 0;
    }

    /* Ajusta os botões */
    #login, #login2, #login3 {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    #botoa2 #login2 {
        margin-top: 20px;
    }
    #botoa3 #login3 {
        margin-top: 20px; 
    }
    #Vermais{
        width: 90%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }
    #botoa, #botoa2, #botoa3 {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
    #forma {
        width: 0%;
        height: 0%;
        display: none;  
    }
}

@media (max-width: 768px) {
    .fundo {
        background-color: #49038A;
        height: 1960px;
    }
    .Rosa, .Laranja, .Verde, .Azul {
        display: none;
    }

    .title {
        font-size: 32px;
        margin-top: -15%;
    }
    .paragrafo {
        font-size: 18px;
    }

    .caixasbrancas {
        flex-direction: column; 
        align-items: center; 
        gap: 30px; 
        margin-bottom: 10%; 
        margin-top: 30px;
    }

    .caixa1, .caixa2, .caixa3 {
        width: 90%; 
        max-width: 400px; 
        height: auto; 
        margin-bottom: 0; 
        margin-top: 0;
        margin-right: 0;
    }

    /* Ajusta os botões */
    #login, #login2, #login3 {
        width: 90%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #botoa2 #login2 {
        margin-top: 20px;
    }

    #botoa3 #login3 {
        margin-top: 20px; 
    }

    #Vermais{
        width: 90%;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 20px;
    }

    #botoa, #botoa2, #botoa3 {
        flex-direction: column;
        align-items: center;
        gap: 0;
    }

    #forma {
        width: 0%;
        height: 0%;
        display: none;  
    }
}