
.container_login {
    background-color: #421167;
    width: 100%;
    height: 919px;
    margin-bottom: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.content {
    background-color: aliceblue;
    width: 50%;
    height: 530px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.esquerdo {
    background-color: #EEEDE9;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.direito {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.direito p {
    white-space: nowrap;
    
}

#login_titulo {
    font-size: 48px;
    color: #381A72;
}

.direito, .esquerdo {
    width: 50%;
    height: 530px;
}


.login_input {
    width: 75%;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid black;
}

.login_input::placeholder {
    color: #381A72;
    font-size: 14px;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
}

#btn_logar {
    width: 130px;
    height: 41px;
    background-color: #381A72;
    border-radius: 7px;
    border: none;
    color: #FAFAFA;
    font-size: 25px;
    transition: transform 0.3s ease-in-out, cdbox-shadow 0.3s ease-in-out;
}

#btn_logar:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.direito a {
    color: #381A72;
}

@media (max-width: 1110px) {
    .container_login {
        background-color: #421167;
        width: 100%;
        height: 690px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
}
    .content {
        background-color: aliceblue;
        width: 80%;
        height: 530px;
}
    .esquerdo {
        width: 0%;
}
    .direito {
        border-top-left-radius: 16px;
        border-bottom-left-radius: 16px;
        background-color: #FFFAFA;
        width: 100%;
        height: 530px;
}
    .login_input {
        width: 75%;
        height: 50px;
        background-color: transparent;
        border-radius: 8px;
        border: 1px solid black;
}


}