
.container_login {
    background-color: #421167;
    width: 100%;
    height: 919px;
    margin-bottom: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    background-color: aliceblue;
    width: 980px;
    height: 483px;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.esquerdo {
    background-color: #EEEDE9;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.direito {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#login_titulo {
    font-size: 48px;
    color: #381A72;
}

.direito, .esquerdo {
    width: 50%;
    height: 483px;
}


.login_input {
    width: 75%;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid black;
}

.login_input::placeholder {
    color: #381A72;
    font-size: 14px;
    padding-left: 10px;
    font-family: "Montserrat", sans-serif;
}

#btn_logar {
    width: 130px;
    height: 41px;
    background-color: #381A72;
    border-radius: 7px;
    border: none;
    color: #FAFAFA;
    font-size: 25px;
}

.direito a {
    color: #381A72;
}
