*{
  font-family: "Montserrat", sans-serif;
}
.container_pai {
  background-color: #51386b; 
  border-radius: 20px;
  padding: 55px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 90%;
  height: 80px;
  top: 90%;
  position: absolute; /* ou fixed se quiser que fique fixo na tela ao rolar */
  left: 50%;          /* centraliza horizontalmente */
  transform: translateX(-50%);
  z-index: 9999;      /* garante que fique na frente de tudo */
}

.formulario {
  display: flex;
  gap: 30px;
  flex-direction: row;
  
}

.grupo {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.titulo {
  font-weight: 600;
  color: #ffffff;
  margin-left: 10px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
}

.quadrado {
  background-color: #FFFF;
  color: #1B062F;
  border: none;
  border-radius: 8px;
  padding: 10px 30px;
  font-size: 18px;
  cursor: pointer;
  outline: none;
  box-shadow: 0 0 0 2px transparent;
  transition: box-shadow 0.2s ease;
  font-family: "Montserrat", sans-serif;
}

.quadrado:hover,
.quadrado:focus {
  box-shadow: 0 0 0 2px #a88cd8; 
}

.opcoes {
  color: #1B062F;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
}
