@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
  font-family: "Montserrat", sans-serif;
}
.botoes{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3%;
}
.Selecao {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  background: #3A0CA3;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  cursor: pointer;
  font-family: Verdana;
  font-size: 1.5rem;
}

.Interprete {
  flex: 1;
  text-align: center;
  padding: 10px 0;
  border-radius: 40px;
  font-weight: 500;
  color: white;
  transition: 0.3s;
  font-family: Verdana;
}

.active {
  background: #A3FF9F;
  color: black;
}
.title{
    font-family: Verdana;
    color: #1D0B3F;
    font-weight: 600;
    font-size: 4rem;
}
.paragrafo{
    font-family: Verdana;
    color: #1D0B3F;
    font-weight: 200;
    font-size: 2rem;
    width: 90%;
    margin-top: 2%;
}
.Textos{
    position: relative;
    margin-left: 10%;
}
.Planos{
  position: relative;
  width: 90%;
  height: 1450px;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 2px solid #1D0B3F;
  border-radius: 50px;
  display: flex;
  flex-direction: row;
}
.MaosDePrata,
.MaosDeOuro,
.MaosDeDiamantes {
  display: flex;
  flex-direction: column;
}

.MaosDePrata{
  position: relative;
  width: 33.3%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.MaosDePrata p {
  margin-left: 25.5%;
}
.MaosDeOuro{
  position: relative;
  width: 33.3%;
  background-color: #381A72;
}
.MaosDeOuro h2{
  color: white;
}
.MaosDeOuro .valor{
  color: #A5F391;
}
.MaosDeOuro p{
  margin-left: 26%;
  color: white;
}
.MaosDeDiamantes{
  position: relative;
  width: 33.3%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.MaosDeDiamantes p{
  margin-left: 18.5%;
}
.titleP{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10%;

}
.valor{
  font-size: 2.5rem;
  color: #A13BB1;
  font-weight: 800;
}
.beneficios{
  color: #1D0B3F;
  position: relative;
  margin-left: -26%;
  font-size: 2rem;
}
.MaosDeDiamantes .beneficios{
  margin-left: -15%;
}
.beneficios p{
  margin-top: 10%;
  font-size: 2rem;
  width: 500px;
}
.check{
  margin-bottom: -1%;
  width: 30px;
}
.selecionar{
  width: 450px;
  height: 70px;
  font-size: 2rem;
  border-radius: 10px;
  background-color: #381A72;
  color: white;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-weight: 600;
  cursor: pointer;
    transition: all 0.7s ease-in-out;
    box-shadow: 1px 1px 2px rgb(91, 91, 91);
}
.selecionar:hover{
  transform: scale(1.1);
    box-shadow: 2px 2px 5px rgb(91, 91, 91);
}
.Botao{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 20%;
}
.MaosDeOuro .selecionar{
  background-color: #FD9BCC;
  color: #381A72;
}
.Termo{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 1.5rem;
}

/* MEDIA QUERIES ----*/

@media screen and (max-width: 1200px) {
    /*Laptops menores*/
    .beneficios p {
        width: 100%;
        font-size: 1.5rem;
    }
    .selecionar {
        width: 80%;
        font-size: 1.5rem;
    }
    .Planos {
        height: auto; 
        padding-bottom: 50px;
    }
    .beneficios {
        margin-left: 0;
        padding: 0 20px;
    }
    .MaosDePrata p, .MaosDeOuro p, .MaosDeDiamantes p {
        margin-left: 0;
        text-align: center;
    }
}

@media screen and (max-width: 1024px) {
    /*Tablet e Mobile*/
    
    .Planos {
        flex-direction: column; 
        height: auto; 
        border: none; 
        width: 94%;
        margin-left: 3%;
    }

   
    .MaosDePrata,
    .MaosDeOuro,
    .MaosDeDiamantes {
        width: 100%;
        border-radius: 40px; 
        margin-bottom: 40px; 
        padding-bottom: 40px;
        align-items: center;
    }

    
    .MaosDePrata, .MaosDeDiamantes {
        border: 2px solid #1D0B3F;
    }

    .titleP {
        margin-top: 5%;
    }

    .valor {
        text-align: center;
        margin-left: 0;
    }
    
    .beneficios {
        margin-left: 0; 
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .MaosDeDiamantes .beneficios {
        margin-left: 0;
    }

    .beneficios p {
        width: 90%;
        margin-left: 0;
        text-align: left; 
        font-size: 1.5rem;
    }

    .MaosDePrata p, .MaosDeOuro p, .MaosDeDiamantes p {
        margin-left: 0; 
    }

    .Botao {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 100%;
    }

    .selecionar {
        width: 80%;
        height: 60px;
    }
}

@media screen and (max-width: 768px) {
    /*Mobile */
    
    .title {
        font-size: 2.5rem;
        text-align: left;
    }
    
    .paragrafo {
        font-size: 1.2rem;
    }
    
    .Selecao {
        width: 280px;
        font-size: 1.2rem;
    }

    .titleP {
        font-size: 2rem;
    }

    .valor {
        font-size: 1.8rem;
    }

    .beneficios p {
        font-size: 1.1rem;
    }
    
    .Textos {
        margin-left: 5%;
    }
}

@media screen and (max-width: 425px) {
    /* Mobile Pequeno */
    
    .botoes {
        margin: 10% 0;
    }

    .title {
        font-size: 2rem;
        line-height: 1.2;
    }

    .MaosDePrata,
    .MaosDeOuro,
    .MaosDeDiamantes {
        margin-bottom: 30px;
    }

    .selecionar {
        width: 90%;
        font-size: 1.2rem;
    }

    .Termo {
        font-size: 1rem;
        margin-top: 10%;
        width: 90%;
        margin-left: 5%;
    }
}