.pagina_atual {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12%;
    margin-top: 2%;
}

.pagina_atual p {
    font-size: 20px;
    margin-bottom: 20px;
    color: #512C91;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}