.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    
}

.form_control input{
    width: 390px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #000101;
    padding-left: 10px;
}

#meio {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#data_nascimento {
    width: 390px;
}

#data_nasc {
    width: 100%;
}

.form_control input::placeholder {
    color: #49038A;
}

.senhas {
    width: 390px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

#form_senha {
    width: 175px;
    height: 40px;
}

#controle_check {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 390px;
    height: 40px;
    margin-top: 20px;
    gap: 7px;
}

#controle_check input:checked ~ #check_box {
        background-color: #A5F391;
}

#check_box {
    width: 15px;
    height: 15px;
}

#check_box {
    background-color: #A5F391;
}

#checkbox_label {
    font-size: 14px;
    color: #1D0B3F;
    font-weight: 400;
}

@media (max-width: 375px) {
    .cadastro {
        margin-top: 0px;
        margin-bottom: 13px;
        gap: 10px;
    }
    .form_control input {
        width: 290px;
    }
    .senhas {
        width: 290px;
        gap: 0px;
        margin: auto;
        margin-top: 10px;
    }
    #form_senha {
        width: 130px;
    }
    #data_nascimento {
        width: 290px;
    }

    #controle_check {
        margin-left: 80px;
    }

    #checkbox_label {
        inline-size: 285px;
    }
}

@media (max-width: 320px) { 
    .form_control input {
        width: 260px;
    }
    #form_senha {
        width: 120px;
        width: 120px;
    }
    #data_nascimento {
        width: 260px;
    }

    .senhas {
        width: 260px;
    }

    #form_senha::placeholder {
        font-size: 12px;
    }

    #controle_check {
        margin-left: 150px;
    }

    #checkbox_label {
        inline-size: 250px;
    }

}