/* Fonte do site todo */ 
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* Aqui começa o css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
/* Aqui termina o css reset */
/* Aqui começa a config padrão do site */
body{
    background-color: #fffafa;
}
/* Aqui termina a config padrão do site */
/*Botão Acessibilidade*/
.leitor-controles {
    width: 120px;
    display: none;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
    position: fixed;
    bottom: 80px;
    font-family: var(--fonte-poppins);
    right: 22px;
    z-index: 11000;
}

.leitor-controles.ativo {
    display: flex;
    z-index: 11000;
}

.leitor-btn {
    background: #555;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
    z-index: 11000;
}

.leitor-btn:hover {
    background: #333;
    z-index: 11000;
}

.leitor-toggle {
    background: #0056b3;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    position: fixed;
    bottom: 70px;
    font-family: var(--fonte-poppins);
    right: 10px;
    z-index: 11000;
}